@{
    ViewData["Title"] = "Administration";
}

<div ng-app="Fancy.Feedback.Apps.Administration" ui-i18n="'de'">
    <div ui-view>
    </div>
</div>

@section scripts
{
    <script src="~/js/angular.min.js"></script>
    <script src="~/apps/administration/administration.min.js"></script>
}
